body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.page-header-main {
    color: #fff;
    text-align: center;
    background-color: #646b67;
    background-image: linear-gradient(120deg, #283038, #646b67);
    padding: 150px 0;
    padding-top: 95px;
}

.project-name {
    font-weight: bold;
    font-size: 5.25rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.project-tagline {
    margin-bottom: 3rem;
    font-weight: normal;
    opacity: 0.7;
    font-size: 2.25rem;
}

.btn-easy-alert {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 15px;
}

.btn-easy-alert:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.description-section {
    max-width: 110rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

span.value {
    color: #008;
}

span.key {
    color: #800;
}

span.comment {
    color: #080;
}

.easy-alert-type-btn {
    min-width: 123px;
}

.alert-custom {
    color: #763c3c;
    background-color: #ff003b;
    border-color: #ff003b;
}

code {
    color: #9c1616 !important;
}